*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: dodgerblue;
  width: 400px;
  height: 600px;
  margin: auto;
  text-align: center;
}
.header{
  padding: 20px;
  text-align: center;
  background-color: blue;
}
.headerinput{
  margin-right: 10px;
  padding: 5px;
}
.headerinput:focus{
  outline: none;
}
.button{
  padding: 5px;
}
.item{
  background-color: lightgrey;
  padding: 5px;
  width: 80%;
  margin: 5px auto;
}

.iteminput{
 width: 80%;
 background-color: lightgrey;
 border: 0px;

}
.iteminput:focus{
  outline: none;
}
.delete{
  cursor: pointer;
  margin-right: 5px;
}
.done{
  cursor: pointer;
}
